<section class="Recommendations">
<% @recommendations.each do |x| %>
<p><%= x.contributor %>

<%= x.place %>

<%= x.notes %>

<%= x.type_of_place %></p>

<% end %>
</section>

<h3>Create a Recommendation</h3>

<form action="/create" method="post">
  <input type="text" name="place" value="Name of Place">
  <input type="text" name="type_of_place" value="type of place">
  <input type="text" name="contributor" value="contributor">
  <input type="text" name="notes" value="Notes">
  <input type="Submit" value="Add an item">
  <!-- these bind directly to a params object key -->
</form>
